/* Write your CSS here */
.configuration-controls-container {
  background-color: #475569;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 25px;
}

.responsive-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-container {
  margin: 20px;
}
